body{
    margin: 0;
    background-image: url("../图片素材/adver-01.jpg");
    background-repeat: no-repeat;
    width: 430px;
    height: 130px;
    position: relative;
}


#number{
    position: absolute;
    right: 5px;
    bottom: 2px;
}
#number li {
    float: left;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 1px #666 solid;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    list-style-type: none;
    background-color: #FFF;
}
