h2{
    color: #003580;
}
#string{
    font-size: 14px;
    color: #000033;
}
.img1{
    width: 100px;
    height: 160px;
}
.img2{
    width: 200px;
    height: 130px;
}
.n1{
    color: #F00;
}
.n2{
    color: #1F878C;
}
.n3{
    color: #FAA53B;
}
.n4{
    color: #0D7114;
}